<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>whomst</title>
</head>
<body>
    <div class="header" th:fragment="header">
        <img class="forumlogo" src="/static/img/logo.svg" height="64">
        <div class="forumname">[[#{badforum.name}]]</div>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>

        <div class="userinfo">
            <span th:if="${forumSession != null}">
                Logged in as [[${forumSession.getUser().getUsername()}]]
                <a class="logout" href="/logout">Logout</a>
                <a class="settings" href="/settings">Settings</a>
            </span>

            <span th:if="${forumSession == null}">
                <a href="/login">Login</a> / <a href="/register">Register</a>
            </span>
        </div>
    </div>
</body>
</html>