<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>w   h   o   m   s   t</title>
</head>
<body>
    <form class="post" method="post" action="/post" th:fragment="newThread(boardIndex, boardName, postError, postTopic, postText, canPost)">
        <th:block th:if="${canPost}">
            <h2>Post new thread in "[[${boardName}]]"</h2>
            <div class="postError" th:if="${postError != null}">Error when posting: [[${postError}]]</div>

            <input type="hidden" name="boardIndex" th:value="${boardIndex}">
            <div class="topicField">
                <label for="postTopic">Topic:</label>
                <input id="postTopic" type="text" name="topic" th:value="${postTopic}" placeholder="Insert topic here">
            </div>
            <div class="textField">
                <textarea name="text" th:value="${postText}" placeholder="Type your post here"></textarea>
            </div>
            <input type="submit" value="Create topic">
        </th:block>
        <th:block th:if="${canPost != true && postError != null}">
            <h2>Post new thread in "[[${boardName}]]"</h2>
            <div class="postError" th:if="${postError != null}">Error when posting: [[${postError}]]</div>
        </th:block>
    </form>

    <form class="post reply" method="post" action="/post" th:fragment="reply(threadIndex, threadName, postError, postText, canPost)">
        <th:block th:if="${canPost}">
            <h2>Reply to thread "[[${threadName}]]"</h2>
            <div class="postError" th:if="${postError != null}" th:text="Error when posting: ${postError}"></div>

            <input type="hidden" name="threadIndex" th:value="${threadIndex}">
            <div class="textField">
                <textarea name="text" th:value="${postText}" placeholder="Type your reply here"></textarea>
            </div>
            <input type="submit" value="Reply">
        </th:block>
        <th:block th:if="${canPost != true && postError != null}">
            <h2>Post new thread in "[[${boardName}]]"</h2>
            <div class="postError" th:if="${postError != null}">Error when posting: [[${postError}]]</div>
        </th:block>
    </form>
</body>
</html>