<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>w h o m s t</title>
</head>
<body>
    <section class="board" th:fragment="viewBoard(boardViewData)">
        <th:block th:if="${boardViewData.childBoards.size() > 0}">
            <h2>Boards</h2>
            <ul class="childBoards">
                <li th:each="childBoard: ${boardViewData.childBoards}">
                    <a th:href="${'/board/' + childBoard.index}" class="childBoardLink" th:text="${childBoard.name}"></a>
                    <span class="childBoardThreadCount">Threads: [[${childBoard.totalThreadCount}]]</span>
                    <span class="childBoardPostCount">Posts: [[${childBoard.totalPostCount}]]</span>
                </li>
            </ul>
        </th:block>

        <th:block th:if="${boardViewData.threads.size() > 0}">
            <h2>Threads</h2>
            <ul class="threads">
                <li th:each="thread: ${boardViewData.threads}">
                    <th:block th:if="${thread.wasMoved}">Moved:</th:block>
                    <a th:href="${'/thread/' + thread.index}" class="threadLink" th:text="${thread.topic}"></a>

                    <div>
                        <span class="threadAuthor" th:if="${thread.author.username == null}">Posted by Anonymous</span>
                        <span class="threadAuthor" th:if="${thread.author.username != null}">Posted by [[${thread.author.username}]]</span>
                        <span class="threadBanned" th:if="${thread.author.isBanned}">(BANNED)</span>

                        <span class="threadPostTime" th:if="${thread.getCreationTime() != null}">on [[${#temporals.format(thread.getCreationTime(), "yyyy-MM-dd HH:mm:ss")}]]</span>
                        <span class="threadPostTime" th:if="${thread.getCreationTime() == null}">from the land before time</span>

                        <span class="threadPostCount">([[${thread.getPostCount()}]] posts)</span>
                    </div>

                    <div>
                        <form th:action="${'/thread/' + thread.index + '/move'}" th:if="${thread.canModerate && !thread.wasMoved}">
                            <input type="submit" value="Move thread">
                        </form>

                        <form action="/deletethread" method="post" th:if="${thread.canModerate && !thread.wasMoved}">
                            <input type="hidden" name="threadIndex" th:value="${thread.index}">
                            <input type="submit" value="Delete thread">
                        </form>
                    </div>
                </li>
            </ul>

            <footer class="boardThreadCount">
                Showing 1-[[${boardViewData.threadCount}]] of [[${boardViewData.threadCount}]] threads
            </footer>
        </th:block>
    </section>


    <article class="thread" th:fragment="viewThread(threadViewData)">
        <section class="post" th:each="post: ${threadViewData.posts}">
            <header>
                <span class="author" th:if="${post.author.username != null}">Posted by [[${post.author.username}]]</span>
                <span class="author" th:if="${post.author.username == null}">Posted anonymously</span>
                <span class="banned" th:if="${post.author.isBanned}">(BANNED)</span>
                <span>on <time>[[${#temporals.format(post.postTime, "yyyy-MM-dd HH:mm:ss")}]]</time></span>
            </header>

            <div class="text" th:if="${post.splitIndex == null}" th:utext="${post.text}"></div>
            <div class="text split" th:if="${post.splitIndex != null}">
                <p><a th:href="${'/thread/' + post.splitIndex}">[moved]</a></p>
            </div>

            <div class="banned" th:if="${post.userBanned}">
                (USER WAS BANNED FOR THIS POST. Reason: [[${post.banReason == null ? "None specified." : '"' + post.banReason + '"'}]])
            </div>

            <div th:if="${post.splitIndex == null}">
                <form th:action="${'/post/' + post.index + '/split'}" th:if="${post.canModerate && !post.deleted}">
                    <input type="submit" value="Split post">
                </form>

                <form action="/deletepost" method="post" th:if="${(post.canModerate || post.viewerIsAuthor) && !post.deleted}">
                    <input type="hidden" name="postIndex" th:value="${post.index}">
                    <input type="submit" value="Delete post">
                </form>

                <form th:action="${'/post/' + post.index + '/ban'}" method="get" th:if="${post.canBan && !post.deleted && !post.userBanned && !post.author.isBanned && post.author.username != null}">
                    <input type="submit" value="Ban poster">
                </form>
            </div>
        </section>
    </article>


    <ul class="boardTree" th:fragment="viewBoardTree(boardViewData, paramName, startingIndex)">
        <li>
            <input type="radio" th:id="${paramName + boardViewData.index}" th:name="${paramName}"
                    th:value="${boardViewData.index}" th:disabled="${!boardViewData.canModerate}"
                    th:class="${boardViewData.canModerate ? 'boardTreeChoice' : 'boardTreeChoice disabled'}"
                    th:checked="${boardViewData.index == startingIndex}">
            <label th:for="${paramName + boardViewData.index}" th:text="${boardViewData.name}"
                   th:class="${boardViewData.canModerate ? 'boardTreeChoice' : 'boardTreeChoice disabled'}"></label>

            <ul th:each="childData: ${boardViewData.childBoards}">
                <th:block th:include=":: viewBoardTree(${childData}, ${paramName}, ${startingIndex})"></th:block>
            </ul>
        </li>
    </ul>
</body>
</html>