<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>w h o m s t</title>
</head>
<body>
    <section class="board" th:fragment="viewBoard(boardViewData, canMakeBoards, canModerate)">
        <th:block th:if="${boardViewData.childBoards.size() > 0}">
            <h2>Boards</h2>
            <ul class="childBoards">
                <li th:each="childBoard: ${boardViewData.childBoards}">
                    <a th:href="${'/board/' + childBoard.index}" class="childBoardLink" th:text="${childBoard.name}"></a>
                    <span class="childBoardThreadCount">Threads: [[${childBoard.threadCount}]]</span>
                    <span class="childBoardPostCount">Posts: [[${childBoard.postCount}]]</span>
                </li>
            </ul>
        </th:block>

        <form method="post" action="/board/new" th:if="${canMakeBoards}">
            <h3>Create sub-board</h3>
            <input type="hidden" name="parentIndex" th:value="${boardViewData.index}">
            <label for="boardName">Board name: </label> <input id="boardName" name="boardName" placeholder="Board name">
            <input type="submit" value="Create board">
        </form>

        <th:block th:if="${boardViewData.threads.size() > 0}">
            <h2>Threads</h2>
            <ul class="threads">
                <li th:each="thread: ${boardViewData.threads}">
                    <a th:href="${'/thread/' + thread.index}" class="threadLink" th:text="${thread.topic}"></a>
                    <span class="threadAuthor" th:if="${thread.author.username == null}">Posted by Anonymous</span>
                    <span class="threadAuthor" th:if="${thread.author.username != null}">Posted by [[${thread.author.username}]]</span>
                    <span class="threadPostTime" th:if="${thread.getCreationTime() != null}">on [[${#temporals.format(thread.getCreationTime(), "yyyy-MM-dd HH:mm:ss")}]]</span>
                    <span class="threadPostTime" th:if="${thread.getCreationTime() == null}">from the land before time</span>
                    <span class="threadPostCount">([[${thread.getPostCount()}]] posts)</span>

                    <form action="/thread/delete" method="post" th:if="${canModerate}">
                        <input type="hidden" name="threadIndex" th:value="${thread.index}">
                        <input type="submit" value="Delete thread">
                    </form>
                </li>
            </ul>

            <footer class="boardThreadCount">
                Showing 1-[[${boardViewData.threadCount}]] of [[${boardViewData.threadCount}]] threads
            </footer>
        </th:block>
    </section>


    <article class="thread" th:fragment="viewThread(threadViewData, canModerate)">
        <section class="post" th:each="post: ${threadViewData.posts}">
            <header>
                <span class="author" th:if="${!post.deleted && post.author.username != null}">Posted by [[${post.author.username}]]</span>
                <span class="author" th:if="${!post.deleted && post.author.username == null}">Posted anonymously</span>
                <span class="author" th:if="${post.deleted}">Posted by [deleted]</span>
                <span>on <time>[[${#temporals.format(post.postTime, "yyyy-MM-dd HH:mm:ss")}]]</time></span>
            </header>

            <div class="text" th:utext="${post.text}"></div>

            <form action="/post/delete" method="post" th:if="${canModerate && !post.deleted}">
                <input type="hidden" name="postIndex" th:value="${post.index}">
                <input type="submit" value="Delete post">
            </form>
        </section>
    </article>
</body>
</html>