<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[[#{badforum.name}]] - Error - [[#{error.boardperms.__${errorCode}__.title}]]</title>
</head>
<body>
    <div th:replace="inc/header :: header">

    </div>

    <h1>Board permissions - Saved</h1>

    <p>Permissions successfully saved for board "[[${boardName}]]".</p>

    <ul>
        <li><a th:href="${'/board/' + boardIndex + '/permissions'}">Return to permissions page</a></li>
        <li><a th:href="${'/board/' + boardIndex}">Return to board</a></li>
        <li><a href="/">Return to home page</a></li>
    </ul>
</body>
</html>