<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[[#{badforum.name}]] - Error - [[#{error.newboard.__${errorCode}__.title}]]</title>
</head>
<body>
    <div th:replace="inc/header :: header">

    </div>

    <h1>Thread deleted</h1>

    <p>Successfully deleted thread "[[${threadTopic}]]".</p>

    <a th:if="${boardIndex != -1}" th:href="${'/board/' + boardIndex}">Return to board "[[${boardName}]]"</a>
    <a href="/">Return to home page</a>
</body>
</html>