<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[[#{badforum.name}]] - Board deleted</title>
</head>
<body>
    <div th:replace="inc/header :: header">

    </div>

    <h1>Board deleted</h1>

    <p>Successfully deleted board "[[${boardName}]]".</p>

    <ul>
        <li><a th:if="${parentIndex != -1}" th:href="${'/board/' + parentIndex}">Return to parent board "[[${parentName}]]"</a></li>
        <li><a href="/">Return to home page</a></li>
    </ul>
</body>
</html>