<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[[#{badforum.name}]] - Log in</title>
    <script src="/static/js/registerpage.js"></script>
</head>
<body>
    <div th:replace="inc/header :: header">

    </div>

    <h1>Log in</h1>

    <div class="bigWarning" th:if="${#request.isSecure() == false}">
        This connection is not secure! The internet goblins will steal your password!
    </div>

    <form method="post" action="/login">
        <div class="error" th:if="${errorCode != null}">
            <h3>Error during login:</h3>
            <span class="errorCode">[[#{error.login.__${errorCode}__}]]</span>
            <span class="errorExtra" th:if="${errorExtra != null}">([[${errorExtra}]])</span>
        </div>

        <div>
            <span>Username:</span>
            <input type="text" name="username" placeholder="Username" th:value="${registerUsername}">
            <span id="usernote"></span>
        </div>
        <div>
            <span>Password:</span>
            <input id="passwordInput" type="password" name="password" placeholder="Password">
            <span id="passwordnote"></span>
        </div>

        <input type="submit" value="Register">
    </form>
</body>
</html>
