<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[[#{badforum.name}]] - Registration complete</title>
</head>
<body>
    <div th:replace="inc/header :: header">

    </div>

    <h1>Registration complete</h1>
    <form>
        <div class="bigWarning" th:if="${#request.isSecure() == false}">
            This connection is not secure! If you submitted a password you use elsewhere,
            it's your own fault if a third party gets hold of it.
        </div>

        <p th:if="${createdAdmin == true}">
            You've successfully registered an administrator account. Change the password to this
            account as soon as possible.
        </p>

        <p th:unless="${createdAdmin == true}">
            You've successfully registered on the world's lamest forum, and you should be logged
            in and ready to throw your messages into the void where no one will ever see them.
        </p>

        <p th:unless="${createdAdmin == true}">
            Which, to be fair, is still better than dealing with your average internet user.
        </p>
    </form>
</body>
</html>
