<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[[#{badforum.name}]] - Register an account</title>
    <script src="/static/js/registerpage.js"></script>
</head>
<body>
    <h1>Register</h1>

    <div class="bigWarning" th:if="${#request.isSecure() == false}">
        This connection is not secure! Please, for all that is good in the world, don't use a password you use anywhere else.
    </div>

    <div class="warning" th:if="${#request.isSecure() == true}">
        This connection is secure. Still, don't use a password you use anywhere else.
    </div>

    <form method="post" action="/register" onsubmit="jsonRegister()">
        <div class="error" th:if="${errorCode != null}">
            <h3>Error encountered during registration:</h3>
            <span class="errorCode">[[#{error.register.__${errorCode}__}]]</span>
            <span class="errorExtra" th:if="${errorExtra != null}">([[${errorExtra}]])</span>
        </div>

        <div>
            <span>Username:</span>
            <input type="text" name="username" oninput="onUsernameInput(this, 'usernote')" placeholder="Username" th:value="${registerUsername}">
            <span id="usernote"></span>
        </div>
        <div>
            <span>Email address:</span>
            <input type="text" name="email" placeholder="Email (optional)" th:value="${registerEmail}">
        </div>
        <div>
            <span>Password:</span>
            <input id="passwordInput" type="password" oninput="onPasswordInput()" name="password" placeholder="Password">
            <span id="passwordnote"></span>
        </div>
        <div>
            <span>Confirm:</span>
            <input id="confirmInput" type="password" oninput="onPasswordInput()" name="confirm" placeholder="Confirm">
        </div>

        <input type="submit" value="Register">
    </form>
</body>
</html>