<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[[#{badforum.name}]] - Error - [[#{error.renamethread.__${errorCode}__.title}]]</title>
</head>
<body>
    <div th:replace="inc/header :: header">

    </div>

    <h1>Roles and permissions - [[#{error.renamethread.__${errorCode}__.title}]]</h1>

    <p class="error" th:text="#{error.renamethread.__${errorCode}__}"></p>
    <p class="errorDetails" th:if="${errorDetails != null}" th:text="'(' + ${errorDetails} + ')'"></p>
</body>
</html>