<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[[#{badforum.name}]] - User settings</title>
</head>
<body>
    <div th:replace="inc/header :: header">

    </div>

    <h1>Settings for [[${username}]]</h1>

    <th:block th:if="${savingSettings}">
        <div class="error" th:if="${thingsChanged && errorsOccured}">
            Some settings failed to save. Check below.
        </div>

        <div class="error" th:if="${!thingsChanged && errorsOccured}">
            All of your changes failed to save. Check below.
        </div>

        <div th:if="${thingsChanged && !errorsOccured}">
            Settings saved.
        </div>
    </th:block>

    <form method="post" action="/savesettings">
        <th:block th:each="setting: ${protectedSettings}" th:if="${setting.inputType == 'hidden'}">
        <input type="hidden" th:name="${setting.id}" th:value="${setting.value}">
        </th:block>

        <div class="settings protectedSettings" th:each="setting: ${protectedSettings}" th:unless="${setting.inputType == 'hidden'}">
            <label class="settingLabel" th:text="${setting.name}" th:for="${setting.id}"></label>
            <input class="settingValue" th:unless="${setting.inputType == 'textarea'}" th:id="${setting.id}" th:name="${setting.id}" th:type="${setting.inputType}" th:value="${setting.value}" th:readonly="${setting.readonly}">
            <span th:class="${setting.error ? 'settingError' : 'settingMessage'}" th:if="${setting.message != null && setting.message.length() > 0}" th:text="${setting.message}"></span>
            <textarea class="settingValue" th:if="${setting.inputType == 'textarea'}" th:id="${setting.id}" th:readonly="${setting.readonly}" th:name="${setting.id}" th:text="${setting.value}"></textarea>
            <div class="settingDescription" th:if="${setting.description != null && setting.description.length() > 0}" th:text="${setting.description}"></div>
        </div>

        <div class="passwordConfirm" th:if="${showConfirmPassword}">
            <label for="currentPassword">Current password:</label>
            <input id="currentPassword" name="currentPassword" type="password">
            <span class="settingError" th:if="${missingConfirm}">Password was missing or incorrect</span>

            <div class="settingDescription">
                Required if changing any of the above settings
            </div>
        </div>

        <th:block th:each="setting: ${normalSettings}" th:if="${setting.inputType == 'hidden'}">
        <input type="hidden" th:name="${setting.id}" th:value="${setting.value}">
        </th:block>

        <div class="settings normalSettings" th:each="setting: ${normalSettings}" th:unless="${setting.inputType == 'hidden'}">
            <label class="settingLabel" th:text="${setting.name}" th:for="${setting.id}"></label>
            <input class="settingValue" th:unless="${setting.inputType == 'textarea'}" th:id="${setting.id}" th:name="${setting.id}" th:type="${setting.inputType}" th:value="${setting.value}" th:readonly="${setting.readonly}">
            <span th:class="${setting.error ? 'settingError' : 'settingMessage'}" th:if="${setting.message != null && setting.message.length() > 0}" th:text="${setting.message}"></span>
            <textarea class="settingValue" th:if="${setting.inputType == 'textarea'}" th:id="${setting.id}" th:readonly="${setting.readonly}" th:name="${setting.id}" th:text="${setting.value}"></textarea>
            <div class="settingDescription" th:if="${setting.description != null && setting.description.length() > 0}" th:text="${setting.description}"></div>
        </div>

        <input type="submit" value="Submit">
    </form>

    <section class="userroles" th:if="${userRoles != null}">
        <h1>Set roles</h1>

        <form action="/saveuserroles" method="post">
            <input type="hidden" name="username" th:value="${username}">

            <ul>
                <!--/* the checkbox must be before the hidden input, since the backend grabs the first value with a given name */-->
                <li th:each="role: ${userRoles}">
                    <label th:for="${'role' + role.viewIndex}" th:text="${role.roleName}"></label>
                    <input th:id="${'role' + role.viewIndex}" th:name="${'role:' + role.roleName}" value="1" type="checkbox" th:checked="${role.present}">
                    <input th:name="${'role:' + role.roleName}" value="0" type="hidden">
                </li>
            </ul>

            <input type="submit" value="Save roles">
        </form>
    </section>

    <section class="ban" th:if="${showBanForm}">
        <h1>Ban user</h1>

        <form action="/banuser" method="post">
            <input type="hidden" name="username" th:value="${username}">
            <div>
                For <input name="days" placeholder="0 or up" value="0" size="5"> days and
                <input name="hours" placeholder="0 to 23" value="0" size="5"> hours (leave both at 0 for permanent)
            </div>
            <div>
                <label for="banReason">Ban reason:</label>
                <input id="banReason" name="reason" placeholder="Ban reason">
            </div>

            <input type="submit" value="Ban user">
        </form>
    </section>

    <section class="ban" th:if="${showUnbanForm}">
        <h1>Unban user</h1>

        <h3>Ban expire time</h3>
        <p>
            <time th:if="${bannedUntil != null}">[[${#temporals.format(bannedUntil, "yyyy-MM-dd HH:mm:ss")}]]</time>
            <th:block th:if="${bannedUntil == null}">Never</th:block>
        </p>

        <h3>Reason for banning</h3>
        <p th:text="${banReason == null ? 'None specified' : banReason}"></p>

        <form action="/unbanuser" method="post">
            <input type="hidden" name="username" th:value="${username}">
            <input type="submit" value="Unban user">
        </form>
    </section>
</body>
</html>
