<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[[#{badforum.name}]] - Error - [[#{error.thread.__${errorCode}__.title}]]</title>
</head>
<body>
    <div th:replace="inc/header :: header">

    </div>

    <h1>View thread - Error - [[#{error.thread.__${errorCode}__.title}]]</h1>

    <p class="error" th:text="#{error.thread.__${errorCode}__}"></p>

    <p th:if="${movedThreadIndex != null}">
        You can find the moved thread here: <a th:href="${'/thread/' + movedThreadIndex}">"[[${movedThreadTopic}]]"</a>
    </p>
</body>
</html>