<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[[#{badforum.name}]] - aeiou</title>
</head>
<body>
    <div th:replace="inc/header :: header">

    </div>


    <h1>Viewing thread "[[${threadViewData.topic}]]"</h1>
    <p>from board "<a th:href="${'/board/' + threadViewData.board.index}">[[${threadViewData.board.name}]]</a>"</p>

    <div th:replace="inc/viewStuff :: viewThread(${threadViewData}, ${canModerate})"></div>

    <form th:replace="inc/postStuff :: reply(${threadViewData.index}, ${threadViewData.topic}, ${postError}, ${postText}, ${canPost})"></form>

    <section th:if="${canModerate}">
        <h2>Moderator Tools</h2>

        <form method="post" action="/thread/rename">
            <h3>Change thread topic</h3>
            <input type="hidden" name="threadIndex" th:value="${threadViewData.index}">
            <label for="threadName">New name: </label>
            <input id="threadName" name="newTopic" placeholder="Thread name" th:value="${threadViewData.topic}">
            <input type="submit" value="Submit new topic">
        </form>

        <form method="post" action="/thread/delete">
            <h3>Delete thread</h3>
            <input type="hidden" name="threadIndex" th:value="${threadViewData.index}">
            <input type="submit" value="Delete thread">
        </form>
    </section>
</body>
</html>
