<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[[#{badforum.name}]] - aeiou</title>
</head>
<body>
    <div th:replace="inc/header :: header">

    </div>

    <header th:replace="inc/viewStuff :: viewForumPath(${forumPath})"></header>

    <h1>[[${threadViewData.topic}]]</h1>

    <div th:replace="inc/viewStuff :: viewThread(${threadViewData}, ${viewRange}, ${pageLinks})"></div>

    <form th:replace="inc/postStuff :: reply(${threadViewData.index}, ${threadViewData.topic}, ${postError}, ${postText}, ${canPost}, ${viewRange})"></form>

    <section th:if="${threadViewData.canModerate}">
        <h2>Moderator Tools</h2>

        <form method="post" action="/renamethread">
            <h3>Change thread topic</h3>
            <input type="hidden" name="threadIndex" th:value="${threadViewData.index}">
            <label for="threadName">New name: </label>
            <input id="threadName" name="newTopic" placeholder="Thread name" th:value="${threadViewData.topic}">
            <input type="submit" value="Submit new topic">
        </form>

        <form method="post" action="/deletethread">
            <h3>Delete thread</h3>
            <input type="hidden" name="threadIndex" th:value="${threadViewData.index}">
            <input type="submit" value="Delete thread">
        </form>
    </section>
</body>
</html>
