<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[[#{badforum.name}]] - [[${boardViewData.name}]]</title>
</head>
<body>
    <div th:replace="inc/header :: header">

    </div>

    <h1>Viewing board "[[${boardViewData.name}]]"</h1>

    <div th:replace="inc/viewStuff :: viewBoard(${boardViewData}, ${canMakeBoards}, ${canModerate})"></div>

    <form th:replace="inc/postStuff :: newThread(${boardViewData.index}, ${boardViewData.name}, ${postError}, ${postTopic}, ${postText}, ${canPost})"></form>
</body>
</html>
